*{
	margin:0px;
	padding:0px;
}
html{
	height:880px;
	width:1051px;
	margin:0 auto;
}
body{
	width:50%;
	background:gray;
	
}
/**************************START FIRST HALF ****************************/
.firstH{
	background-image:url(../imgs/header.jpg);
	background-repeat:no-repeat;
	position:relative;
	background-size:1072px 420px;
	background-position:top;
	width:1051px;
	height:420px;

}

.navigation{
	height:40px;
}
.navigation > ul > li{
	width:90px;
	height:55px;
	list-style-type:none;
	margin-left:2%;
	padding-top:0.8%;
	float:left;
}
.navigation > ul > li:hover{
background-image:url('../imgs/menu.gif');
background-repeat:no-repeat;
background-size:200% 60%;
}
.navigation > ul > li > a{
	
	position:relative;
	font-weight:bold;
	left:10px;
	color:gray;
	/*tillhere*/
	font-size:12px;
	font-family:sans-serif;
	margin-left:1.2em;
	text-decoration:none;
	vertical-align:middle;
}
.navigation > ul > li > a:hover{
	color:#665F5F;
}

/************************************ END OF FIST HALF *****************************/





/***************** CONTENT START****************************/
.content{
	background-image:url(../imgs/footer.gif);
	background-repeat:no-repeat;
	background-size:100% 110%;
	width:1051px;
	height:520px;
	position:relative;
	
}
.search{
	float:right;
	width:36%;
	margin-right:3%;
	margin-top:2%;
}
.search > h1{
	position:relative;
	top:20px;
	text-align:center;
	color:white;
	font-size:33px;
}


.result{
margin-left:1.5%;
height:50%;
width:60%;
background-image:url(../imgs/post-top.gif),url(../imgs/post-bottom.gif);
background-repeat:no-repeat,no-repeat;
background-position:center top,center bottom;
background-size:100% 52%,100% 52%;
}
.resultTable{
	position:relative;
	border:1px solid black;
	border-collapse:collapse;
	top:10%;
	left:3%;
	text-align:center;
	width:90%;
}
.resultTable tr > th {
	color:white;
	border:1px solid gray;
	border-bottom:1px solid black;
	background-color:gray;
}
.resultTable tr > td {
	border:1px solid black;
	border-collapse:collapse;
}



h2{
	position:relative;
	color:white;	
	top:8%;
	height:14%;
	font-family:sans-serif;
	width:90%;
	margin-left:20px;
	border-bottom:2px dotted white;
}
.searchCar{
	position:relative;
	right:2%;
	float:right;
	width:360px;
	height:50px;
	
}
.bstyle {
	background-image:url(../imgs/topbar.gif);
	background-size:98%;
	background-repeat:no-repeat;
	text-align:center;
	height:40px;
	width:50%;

}
.searchCar td{
	padding-bottom:5px;
}
.label{

color:white;
height:20px;
font-weight:bold;
}
td > select{
	margin-left:5%;
	width:88%;
	padding-bottom:5px;
}

tr  img{
	padding-left:10px;
	width:25px;

}

.last{
	text-align:center;
	color:white;
}

.subButt{
	background-image:url(../imgs/topbar.gif);
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:white;
	font-family:sans-serif;
	border:0px;
	position:relative;
	text-align:center;
	width:30%;
	height:220%;
	left:35%;
	
}

.subButt:active{
color:red;
border:5px groove white;
}

.datepicker{
	height:20px	;
	float:right;
	margin-right:10px	;
	width:60%;
}


/******************** END OF CONTENT******************************/

